.g-md-tips{
    color: #f56954;
}
.skin-blue{
  .right-side{
    &.right-side-centered{
      margin-left: 0;
    }
    #login-box{
      margin: 0 auto;
      position:absolute;
        left:50%;
        top:50%;
        transform:translate3d(-50%,-50%,0);
    }
  }
}
